<div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
  <form action="">
    <input placeholder="Book name" type="text" name="newBook" id="newBook" [(ngModel)]="book_name" required>
    <button type="submit" (click)="addBook()">Add book</button>
  </form>
  <h1>Books available</h1>
  <div *ngFor="let book of book_list;let i =index">
    <div style="background-color: grey; color: white; margin: 2rem; padding: 3rem;">
      Book Name :{{book}}
    </div>
  </div>
</div>